// bootstrap
@import '~bootstrap/scss/bootstrap';


// sass example 
// $font-stack: Helvetica, sans-serif;
// $primary-color: #272727;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

.board-form {
    text-align: center;

    input {
        padding: 5pt;
        margin: 10pt;
    }
}

.slide-image {
    height: 500pt;
}

.image-number {
    text-align: center;
    background-color: black;
    color: white;
}

.index-board-title {
    text-align: center;
}

.index-board-container {
    background-color: green;
}

.show-image {
    width: 50rem;
}