// bootstrap
@import '~bootstrap/scss/bootstrap';


// sass example 
// $font-stack: Helvetica, sans-serif;
// $primary-color: #272727;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

.nav {
    display: flex;
    background-color: black;
    color: white;
    padding: 1rem;
}

.nav:first-child {
    color: blue;
}

.nav a {
    margin-left: 2rem;
    color: white;
}

.board-form {
    text-align: center;

    input {
        padding: 5pt;
        margin: 10pt;
    }
}

.slide-image {
    height: 600pt;
}

.image-number {
    text-align: center;
    background-color: black;
    color: white;
}

.index-board-title {
    text-align: center;
}

.index-board-container {
    background-color: green;
}

.card {
    width: 50rem;
}

.show-image {
    width: 50rem;
}

@media only screen and (max-width: 900px) {

    .nav a {
        margin-left: 0.5rem;
    }

    .card {
        width: 100%;
    }

    .show-image {
        width: 100%;
    }

    .slide-image {
        height: auto;
    }

}